<div class="item">
    <div class="item__left-side">
        <div class="item__left-side__status-icon" [ngClass]="{'item-todo__left-side__status-icon': !task.isDone}">
            <img src="../../../assets/icons/done_black_24dp.svg" *ngIf="task.isDone">
        </div>
        <div>
            <div class="item__left-side__title">{{task.title}}</div>
            <div class="item__left-side__description">{{task.description}}</div>
        </div>
    </div>
    <div class="item__right-side">
        <div title="Edit"><img src="../../../assets/icons/edit_black_24dp.svg"></div>
        <div title="Remove" (click)="onDeleteClick()"><img src="../../../assets/icons/delete_black_24dp.svg"></div>
    </div>
</div>