@import "../../styles/theme.scss";

.item {
  border: 1px solid $done-color-border;
  border-radius: 10px;
  box-shadow: 1px 0px 10px 2px $done-color;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 0;
  margin-block-end: 20px;
  background-color: white;

  &__left-side {
    display: flex;
    align-items: center;
    flex: 1;
    &__status-icon {
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      min-width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      background-color: $done-color;
      cursor: pointer;
    }
    &__title {
      font-size: 24px;
    }
  }

  &__right-side {
    display: flex;
    align-items: center;
    flex: content;

    div {
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      margin-inline-start: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    div:nth-child(1) {
      background-color: $edit-color;
    }

    div:nth-child(2) {
      background-color: $delete-color;
    }
  }
}

.item-todo {
  border-color: $edit-color;
  box-shadow: 1px 0px 10px 2px $edit-color;
  &__left-side {
    &__status-icon {
      width: 24px;
      height: 24px;
      background-color: $edit-color;
    }
  }
}
