<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__control">
        <label>Title</label>
        <input type="text" formControlName="title">
    </div>
    <div class="form__control">
        <label>Description</label>
        <textarea formControlName="description" rows="5" ></textarea>
    </div>
    <div class="form__actions">
        <button class="form__actions--cancel" type="button" (click)="onCancel()" [disabled]="(isLoading$ | async)">CANCEL</button>
        <button class="form__actions--add" type="submit" [disabled]="form.invalid || (isLoading$ | async)">{{editMode ? 'UPDATE' : 'ADD' }} TASK</button>
    </div>
</form>